/*selector {
    property: key;
}*/        

h1 {
    color: rgba(128, 0, 128,1);

    /* border-color: purple;
    border-width: 5px;
    border-style: groove; */

    border: 5px dashed purple;
}

/* h1 {
    color: blue;  /*Conflicting css, last one wins*/

li {
    color: rgba(255, 165, 0,0.8);
}

h3 {
    color: red;
}

div {
    background: grey;
}

body {
    background: url(https://static.pexels.com/photos/139306/pexels-photo-139306.jpeg);
    /* background-repeat: no-repeat; */
    background-size: cover;
}

