/*Element*/
div {

}

/*class*/
.class {

}

/*id*/
#id {

}

/*Star  -- select everything*/
* {

}

/* Descendent -- takes all elements descendent inside of parent*/
descendent parent {

}

a li { /* all links inside li elements */ 

}


/*Adjacent -- styles all elements on the same level of parent, that comes JUST after parent */
parent + element{ 

}

h4 + ul {  /* all lists after an h4 header */

}


/* Attribute --- selects all elements within parent that have a specific attribute */
parent[attribute="key"] { 

}

a[href="http://www.google.com"] {   /* all links to google get styled */

}

input[type="checkbox"] { /* styles all checkboxes */

}

/* "Nth of type" selector --- every Nth element of a given type */

li:nth-of-type(3) {  /* every third li element gets styled -- note that this means just the third*/
    /* I can use nth-of-type(even) or odd to select every other tag, or variations, but the basic just select the nth of that level */

}