body {
    background: lightgrey;
}

li {
    border: 1px solid blue;
}

#important {
    /*  border: 3px dashed yellow;  THIS WOULD OVERRIDE */
    background: yellow;
}

.highlight {
    text-decoration: line-through;
    text-decoration-color: aqua;
}