body {
  background: #f5d9df;
  font-family: "Nunito", sans-serif;
}

.text-middle-content h2 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 2.5rem;
}

.text-middle-content p {
  color: #f498b8;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

section {
  margin-bottom: 100px;
}

#mainNavbar {
  font-size: 1.5ren;
  font-weight: 100;
}
#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
}

#headingGroup span {
  color: red;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}

.navbar.scrolled {
  background: rgb(222, 192, 222);
  transition: background 500ms;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-size: 3rem;
  }
}
