body {
    text-align: center;
}

table {
    margin: 10px auto;
}

td {
    width: 100px;
    height: 100px;
    /* background: pink; */
    margin: 50px 50px;
}

tr:nth-of-type(1) td {
    border-bottom: 2px solid black;
}
tr:nth-of-type(3) td {
    border-top: 2px solid black;
}
.centre {
    border-left: 2px solid black;
    border-right: 2px solid black;
}